<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astudio.routinepartner">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoutinePartner">
        <activity
            android:name=".SetCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActInfoListActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChartActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <receiver android:name=".WidgetProvider"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.astudio.routinepartner.CONTROL_SERVICE1"/>
                <action android:name="com.astudio.routinepartner.CONTROL_SERVICE2"/>
                <action android:name="com.astudio.routinepartner.CONTROL_SERVICE3"/>
                <action android:name="com.astudio.routinepartner.CONTROL_SERVICE4"/>
                <action android:name="com.astudio.routinepartner.CONTROL_SERVICE5"/>
                <action android:name="com.astudio.routinepartner.SETTINGS_CHANGED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service android:name=".WidgetService"></service>
    </application>

</manifest>